@import "../../style/_variables";
@import "../../style/_mixis";

.container {
  @include display-flex(column, center, space-evenly);
  width: 100%;
  height: 100%;

  @media screen and (min-width: 769px) {
    height: calc(100vh - 100px);
  }

  &__title {
    color: $medium-green;

    @media screen and (min-width: 769px) {
      font-size: 2.5em;
    }
  }

  &__donations {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 20px;
    @include display-flex(column);
    min-width: 250px;

    @media screen and (min-width: 769px) {
      min-width: 350px;
    }

    &-subtitle {
      color: $medium-green;
      font-weight: 200;
      font-size: 1.6em;
    }

    &-options {
      @include display-flex(column, center, center, 20px);
    }
  }
}
