<main class="container">
    <h1 class="container__title">FAÇA SUA <strong>DOAÇÃO</strong></h1>

    <div class="container__donations">
        <h2 class="container__donations-subtitle">Doe...</h2>

        <div class="container__donations-options">
            <div *ngFor="let option of optionsDonations">
                <app-option-donation 
                [url]="option.url"
                [text]="option.text"
                [route]="option.route"
                ></app-option-donation>
            </div>
        </div>
    </div>
</main>