@import "../../style/_mixis";

.social-medias {
  width: 40px;
  height: 40px;
  border: solid 2px black;
  border-radius: 50%;
  @include display-flex();

  &__icon {
    width: 24px;
    height: 24px;
    color: black;
  }
}
