<header class="header">
    <div class="header__desktop">
        <img src="assets/icons/logo-ong.png" class="logo-desktop">

        <nav class="header__desktop__nav">
            <div *ngFor="let option of navOptions">
                <a routerLink="{{ option.route }}"
                class="header__desktop__nav-item"
                [ngClass]="option.isActive ? 'selected-option' : ''"
                (click)="chanceActiveRoute(option.route)"
                >{{ option.title }}</a>
            </div>
            <a routerLink="/donations" class="header__desktop__nav-donation" (click)="chanceActiveRoute('/donations')">
                <img src="assets/icons/mao.png" width="25px">
                Doe agora
            </a>
        </nav>
    </div>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="side" opened="false">
        <mat-nav-list class="sidenav-container__list" (click)="sidenav.toggle()">
            <div *ngFor="let option of navOptions">
                <a routerLink="{{ option.route }}"
                class="sidenav-container__list-item"
                [ngClass]="option.isActive ? 'selected-option' : ''"
                (click)="chanceActiveRoute(option.route)"
                >{{ option.title }}</a>
            </div>
            <a routerLink="/donations" class="sidenav-container__list-donation" (click)="chanceActiveRoute('/donations')">
                <img src="assets/icons/mao.png" width="25px">
                Doe agora
            </a>
          </mat-nav-list>
        </mat-sidenav>
  
        <mat-sidenav-content>
        <mat-toolbar>
            <img src="assets/icons/logo-ong.png" class="logo-mobile">

            <button mat-icon-button (click)="sidenav.toggle()" class="menu">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</header>
  