.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 10% 8% 10% 8%;

  @media screen and (min-width: 699px) {
    gap: 60px;
    margin: 0 8% 8% 8%;
    height: 90vh;
    justify-content: space-evenly;
  }

  &__title {
    color: #67ac51;
    text-align: center;
    margin: 20px 20px 30px 20px;
    font-size: 2.3em;
    
    @media screen and (min-width: 699px) {
      margin-top: 3%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;

    @media screen and (min-width: 699px) {
      height: 100%;
      flex-direction: row-reverse;
    }

    &__text {
      height: 100%;

      p {
        text-align: justify;
      }
    }
  }

  &__image {
    border-radius: 70px;
    width: 100%;

    @media screen and (min-width: 699px) {
      max-width: 400px;
      min-width: 260px;
      min-height: 330px;
    }
  }
}

.values {
  color: #67ac4f;
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}
