.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 10% 8% 10% 8%;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        &__text {
            p {
                text-align: justify;
            }
        }
    }

    &__image {
        border-radius: 70px;
    }
}

.values {
    color: #67AC4F;
    text-decoration: underline;
    text-underline-offset: 3px;
}