@use "../../style/_variables" as *;
@use "../../style/_mixis" as *;

.about {
  @include display-flex(column, center, center, 25px);
  margin: 10% 8% 10% 8%;

  @media screen and (min-width: 699px) {
    margin: 0 8% 0 8%;
    height: calc(100vh - 100px);
    justify-content: space-evenly;
  }

  &__title {
    color: $medium-green;
    text-align: center;
    margin: 20px 20px 30px 20px;
    font-size: 2.3em;

    @media screen and (min-width: 699px) {
      width: 100%;
      margin: 0;
      @include display-flex(row, end, center);
      height: 10%;
    }
  }

  &__container {
    @include display-flex(column, center, center, 20px);
    height: 100%;

    @media screen and (min-width: 699px) {
      height: 80%;
      flex-direction: row-reverse;
    }

    &__text {
      height: 100%;

      p {
        text-align: justify;
      }
    }
  }

  &__image {
    border-radius: 70px;
    width: 100%;

    @media screen and (min-width: 699px) {
      max-width: 400px;
      min-width: 260px;
      min-height: 330px;
    }
  }
}

.values {
  color: $medium-green;
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}
