<main class="about">
  <h1 class="about__title"><strong>Sobre</strong></h1>

  <div class="about__container">
    <div>
      <div class="about__container-text">
        <p>
          O Lar Paulo de Tarso é um oásis de esperança. Foi fundado em 27 de
          maio de 1991, Como lema adotamos reconstruindo vidas com amor.
        </p>
        <p>
          A nossa razão de existir (missão) é acolher de forma integral crianças
          e adolescentes em situação de risco social de alta complexidade,
          somando com todos os que trabalham por uma sociedade fraterna e
          espiritualizada.
        </p>
        <p>
          O nosso sonho (visão) é ser cada vez mais um lar que acolhe, sendo
          cada vez menos uma instituição que abriga.
        </p>
        <p>Temos como valores éticos:</p>

        <div class="about__container-text__values">
          <p routerLink="/ethical-values" class="values">&bull; Sim à vida desde a concepção;</p>
          <p routerLink="/ethical-values" class="values">&bull; Cultura de paz;</p>
          <p routerLink="/ethical-values" class="values">&bull; Espiritualidade do ser.</p>
        </div>
      </div>
    </div>

    <img src="/assets/images/about.png" class="about__image" />
  </div>
</main>
