<main class="home">
    <div class="home__image">
        <h1 class="home__image-title">Reconstruindo vidas com <strong>amor</strong></h1>

        <div class="home__image__btn">
            <a routerLink="/donations" class="home__image__btn-donation">
                Faça sua doação
            </a>
            <a routerLink="/about-us" class="home__image__btn-about">
                Conheça nosso Lar
            </a>
        </div>
    </div>
    <div class="home__text">
        <p class="home__text-oasis">Um oásis de esperança!</p>
        <p class="home__text-paragraph">
            Ser cada vez mais um lar que acolhe,
            sendo cada vez menos uma instituição que 
        </p>
    </div>
</main>