@use "../../style/_variables" as *;
@use "../../style/_mixis" as *;

.option {
  @include display-flex(row, center, center, 10px);

  &-icon {
    width: 45px;
    height: 45px;
    color: $medium-green;
  }

  &-btn {
    border: none;
    height: 35px;
    width: 120px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    color: $medium-green;
    font-weight: 700;
    cursor: pointer;
  }
}
